.card {
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  margin: 20px;
  border: 5px solid #9fc476;
}

.card img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card h2 {
  color: #333;
  margin: 0;
}

.card p {
  color: #666;
  margin: 10px 0;
}
