.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.loading {
  color: green;
  font-weight: 900;
}

.noResults {
  margin-top: 2rem;
  color: white;
}

.containerHead {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}
