.search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
}

.form {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
